<div class="card">
  <p-table  #dtt [value]="guildMembersDtos" [rows]="5" [paginator]="true" [globalFilterFields]="['memberId','nickname','phoneNumber']"
                    [(selection)]="selectedguildMembers" [rowHover]="true" dataKey="memberId"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" sortField="role" sortOrder="-1">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">GuildMember Management</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dtt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="memberId">教会成员ID <p-sortIcon field="memberId"></p-sortIcon></th>
                                <th pSortableColumn="nickname">教会成员名字<p-sortIcon field="nickname"></p-sortIcon></th>
                                <th pSortableColumn="avatarUrl">成员头像 <p-sortIcon field="avatarUrl"></p-sortIcon></th>
                                <th pSortableColumn="phoneNumber">手机号 <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                                <th pSortableColumn="role">成员角色 <p-sortIcon field="role" ></p-sortIcon></th>
                                <th pSortableColumn="status">成员状态 <p-sortIcon field="status"></p-sortIcon></th>
                                <th pSortableColumn="modifiedDate">加入时间 <p-sortIcon field="modifiedDate"></p-sortIcon></th>
                                <th style="width: 8rem">操作</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-guildMember>
                            <tr>
                                <td>{{guildMember.memberId}}</td>
                                <td>{{guildMember.nickname}}</td>
                                <td><img *ngIf="guildMember.avatarUrl!=null" [src]="guildMember.avatarUrl" style="height: 60px;
                                  object-fit: cover;
                                  width: 65px;" class="p-shadow-4" /></td>
                                <td>{{guildMember.phoneNumber}}</td>
                                <td>{{guildMember.role==2?'教会管理员':guildMember.role==1?'同工':'普通成员'}}</td>
                                <td [ngStyle]="{'color': guildMember.status!=0?'red':'green'}">{{guildMember.status| dashboardspipe:"guildMemberStatus"}}</td>
                                <td>{{guildMember.modifiedDate | chinaTime}}</td>
                                <td> <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-mr-2"  ></button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no order for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
</div>