<p-toast></p-toast>

<div class="card">
    <p-table #dt [value]="accounts" [rows]="10" [paginator]="true" [globalFilterFields]="['userAuthId','nickName','phoneNumber']"
        [(selection)]="selectedaccounts" [rowHover]="true" dataKey="userAuthId"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">account Management</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="userAuthId">用户ID <p-sortIcon field="userAuthId"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">手机号 <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="nickName">用户名称 <p-sortIcon field="nickName"></p-sortIcon></th>
                <th pSortableColumn="avatarUrl">用户头像 <p-sortIcon field="avatarUrl"></p-sortIcon></th>
                <th pSortableColumn="ownerGuildCount">用户创建的教会总数 <p-sortIcon field="ownerGuildCount"></p-sortIcon></th>
                <th pSortableColumn="joinGuildCount">用户加入的教会总数 <p-sortIcon field="joinGuildCount"></p-sortIcon></th> 
                <th pSortableColumn="isCloudChurchAdmin">是否云教会管理员 <p-sortIcon field="isCloudChurchAdmin"></p-sortIcon></th>
                <th pSortableColumn="lastUsingGuildId">最后浏览的教会ID <p-sortIcon field="lastUsingGuildId"></p-sortIcon></th>
                <th pSortableColumn="userCreatedTime">用户创建时间 <p-sortIcon field="userCreatedTime"></p-sortIcon></th>
                <th pSortableColumn="notificationPublishCount">发布的通知数量 <p-sortIcon field="notificationPublishCount"></p-sortIcon></th>
                <th pSortableColumn="discussPublishCount">发布的讨论数量 <p-sortIcon field="discussPublishCount"></p-sortIcon></th>
                <th pSortableColumn="livecastPublishCount">发布的直播数量 <p-sortIcon field="livecastPublishCount"></p-sortIcon></th>
                <th pSortableColumn="violationCount">违规次数 <p-sortIcon field="violationCount"></p-sortIcon></th>
               
                <th>
                  <span style="color:red;">操作</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>
                    <p-tableCheckbox [value]="account"></p-tableCheckbox>
                </td>
                <td>{{account.userAuthId}}</td>
                <td>{{account.phoneNumber}}</td>
                <td>{{account.nickName}}</td>
                <td><img *ngIf="account.avatarUrl!=null" [src]='account.avatarUrl' style="height: 100px;object-fit: cover;width: 100px;"/></td>
                <td>{{account.ownerGuildCount}}</td>
                <td>{{account.joinGuildCount}}</td>
                <td>{{account.isCloudChurchAdmin?'是':'否'}}</td>
                <td>{{account.lastUsingGuildId}}</td>
                <td>{{account.userCreatedTime}}</td>
                <td>{{account.notificationPublishCount}}</td>
                <td>{{account.discussPublishCount}}</td>
                <td>{{account.livecastPublishCount}}</td>
                <td>{{account.violationCount}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-mr-2"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{accounts ? accounts.length : 0 }} accounts.
            </div>
        </ng-template>
    </p-table>
</div>
