<div class="card">
  <p-table #dt [value]="guildConsumes" [rows]="5" [paginator]="true" 
      [(selection)]="selectedGuildConsumes" [rowHover]="true" dataKey="consumeId"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="consumeId">消费ID <p-sortIcon field="consumeId"></p-sortIcon></th>
              <th pSortableColumn="typeName">消费类型 </th>
        
              <th pSortableColumn="amount">消费数量 <p-sortIcon field="amount"></p-sortIcon></th>
              <th pSortableColumn="remark">消费备注 <p-sortIcon field="remark"></p-sortIcon></th>
              <th pSortableColumn="ownerId">消费者UserAuthID <p-sortIcon field="ownerId"></p-sortIcon></th>
              <th pSortableColumn="createdDate">创建时间 <p-sortIcon field="createdDate"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-guild>
          <tr>
              <td>
                  <p-tableCheckbox [value]="guild"></p-tableCheckbox>
              </td>
              <td>{{guild.consumeId}}</td>
              <td>{{guild.typeName}}</td>
              <td>{{guild.amount}}</td>
              <td>{{guild.remark}}</td>
              <td>{{guild.ownerId}}</td>
              <!-- <td>{{guild.createdDate | chinaTime}}</td> -->
              <td>
                <app-china-datetime-text [value]="guild.createdDate" textColor="red" prefixName="消费"></app-china-datetime-text>
              </td>
              
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{guildConsumes ? guildConsumes.length : 0 }} guildConsumes.
          </div>
      </ng-template>
  </p-table>
</div>

