:host{
    .p-field-radiobutton{
        margin: 10px 0px;
    }

    .p-radiobutton-box{
        margin-right: 10px;
    }
    .audit-box{
        display: inline-block;
        margin: 10px 0px;
    }

    h5{
        color: red;
    }
    h4{
        color: green;
    }

    .buttonBlock{
        margin: 10px 0px;
        text-align: center;
    }
}