:host{
    #center{
        position: fixed;
        left: 40%;
        top: 25%;
    }
    #logo{
        position: relative;
        left: 1.5rem;
        width: 8rem;
        height: 8rem;
    }
    #inputContainer{
        position: relative;
        top:1rem;
    }
    #buttonContainer{
        // position: relative;
        // top: 1rem;
        text-align: center;
        width: 100%;
    }
    .inputText{
        margin-bottom: 1rem;
    }

    .redText{
        // color: red;
        display: inline-block;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 600px) {
        #center{
            position: fixed;
            left: 30%;
            top: 25%;
        }
    }
}