:host{
    .room{
        padding: 30px;
    }
    .video-box{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        video{
            width:400px;
            height: 300px;
            margin-right: 10px;
        }
    }
}