<div class="center">
  <div class="box">
    <div class="top">
      <span>
        杭州禾诺医疗信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span class="time">2017.02-2018.01</span>
    </div>
   
    <div class="body">
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./he-nuo/his">His医疗系统</a>
          </div>
        </div>

        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./he-nuo/gis">医用气体管理系统</a>
          </div>
        </div>
        
    </div>
  </div>


  <div class="box">
    <div class="top">
      <span >
        杭州紫蝶教育科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span class="time">2018.03-2019.01</span>
    </div>
   
    <div class="body">
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./zi-die/sili">思励智能英语</a>
          </div>
        </div>
    </div>
  </div>

  <div class="box">
    <div class="top">
      <span>
        深圳瑞康物流科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span class="time">2019.03-2019.07</span>
    </div>
    <div class="body">
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./rui-kang/app">EWMS APP</a>
          </div>
        </div>
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./rui-kang/web">EWMS WEB</a>
          </div>
        </div>
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./rui-kang/cs">EWMS C/S</a>
          </div>
        </div>
    </div>
  </div>

  <div class="box">
    <div class="top">
      <span>
        上海绿萼网络科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span class="time">2020.04-2020.05</span>
    </div>
   
    <div class="body">
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./lv-e/guanwang">绿萼官网</a>
          </div>
        </div>
    </div>
  </div>

  <div class="box">
    <div class="top">
      <span>
        上海绘境教育&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span class="time">2020.05-2020.08</span>
    </div>
   
    <div class="body">
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./hui-jing/ue-client">UE4家装设计客户端</a>
          </div>
        </div>

        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./hui-jing/ue-server">UE4家装设计后台管理</a>
          </div>
        </div>
        
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./hui-jing/assest-upload">UE4资源上传器</a>
          </div>
        </div>

        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./hui-jing/assest-download">UE4资源下载器</a>
          </div>
        </div>
    </div>
  </div>

  <div class="box">
    <div class="top">
      <span>
        个人开源&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span class="time">2020.07-2020.08</span>
    </div>
   
    <div class="body">
        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./open-source/shop">农贸商城</a>
          </div>
        </div>

        <div class="boxItem">
          <div class="center">
            <a style="margin-top: 36%;" href="./open-source/ltapp">聊天APP</a>
          </div>
        </div>
        
    </div>
  </div>
   
</div>

