<div id="box">
  <mat-toolbar color="primary" style="background-color: #ffd630;height: 64px;">
    <mat-toolbar-row>
      <span class="topTextFont">云教会 - {{live.guildName}} - {{live.pastorName}} - {{live.liveTitle}}牧师</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <p>
    current live id:{{liveId}}
  </p> -->


  <div id="my-video"></div>

  <!-- <video id="my-video" class="video-js vjs-big-play-centered" webkit-playsinline playsinline x5-playsinline x-webkit-airplay="allow" controls muted playsinline preload="auto" autoplay>
    <source src="http://livecast.yangqungongshe.com/live/283e7b855bb841088a4ba105c40d16ba.m3u8" type="application/x-mpegURL">
</video> -->
<div>
</div>

</div>
